:root {
    --color: #16e456;
  }
  
  body {
    transition: all 0.5s ease;
    color: var(--color);
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(218 164 246);
    padding: 0;
  }
  .light,
  .dark {
    padding: 40px;
  }
  .light {
    color-scheme: light;
  }
  .dark {
    color-scheme: dark;
    background: #273746;
  }
  .h,
  .v {
    margin: 10px 0 10px 0;
    accent-color: var(--color);
  }
  .h {
    display: flex;
  }
  .v {
    display: flex;
    flex-direction: column;
  }
  